*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: HarryP;
    src: url(HARRYP__.TTF);
}

body{
    display: block;
     width: 100%;
     background-color: #023047;
    color: #ffb703;
    /* font-family: HarryP; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}


h1{
    margin-top: 90px;
    margin-bottom: 40px;
    font-family: HarryP;
    /* font-size: 5vw; */
    
}

p{
    margin: 20px;
    font-style: italic;
    font-weight: bold;
    color: #8ecae6;
}
/* .score{
    color: #fb8500;
} */

button {
    line-height: 30px;
    width: 120px;
    font-size: 15px;
    background-color: #fb8500;
    color: #1B1804;
    padding: 2px;
    border: none;
    border-radius: 2px ;
    display: block;
    margin: auto;
    margin-bottom: 20px;;
}

button:hover{
   
        
    background-color: aqua;
        
          -webkit-transition: all 0.4s ease-in-out;
             -moz-transition: all 0.4s ease-in-out;
                  transition: all 0.4s ease-in-out;
      
}

nav, a{
    color: white;
    text-decoration: none;
    margin-top: 35vh;
}
a:hover{
    color: #fb8500 ; 
}